// QuickViewConfig.rc
#include <windows.h>
#include "resource.h"

IDD_MAINDLG DIALOGEX 0, 0, 400, 300
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "QuickView Settings"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,280,275,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,340,275,50,14
END

IDD_PANEL_GENERAL DIALOGEX 0, 0, 250, 250
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Language:",IDC_LBL_LANGUAGE,10,10,100,8
    COMBOBOX        IDC_COMBO_LANGUAGE,10,20,150,100,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    
    CONTROL         "Check for updates automatically",IDC_CHECK_AUTO_UPDATE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,40,200,10
    CONTROL         "Single instance mode",IDC_CHECK_SINGLE_INSTANCE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,55,200,10
    CONTROL         "Portable mode (Store settings in EXE folder)",IDC_CHECK_PORTABLE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,70,200,10
END

IDD_PANEL_APPEARANCE DIALOGEX 0, 0, 250, 250
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "Window",IDC_GRP_WINDOW,5,5,240,60
    CONTROL         "Smart Border",IDC_CHECK_SMART_BORDER,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,20,100,10
    LTEXT           "Width:",IDC_LBL_BORDER_WIDTH,120,20,30,8
    COMBOBOX        IDC_COMBO_BORDER_WIDTH,150,18,50,50,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Always on Top",IDC_CHECK_ALWAYS_ON_TOP,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,35,100,10

    GROUPBOX        "OSD & Panels",IDC_GRP_OSD_PANELS,5,70,240,80
    CONTROL         "Show Bottom Panel",IDC_CHECK_SHOW_BOTTOM_PANEL,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,85,100,10
    CONTROL         "Show Navigation Panel",IDC_CHECK_SHOW_NAV_PANEL,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,100,100,10
    CONTROL         "Show Filename",IDC_CHECK_SHOW_FILENAME,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,115,100,10
    CONTROL         "Show File Info",IDC_CHECK_SHOW_FILEINFO,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,130,115,100,10
    CONTROL         "Show Histogram",IDC_CHECK_SHOW_HISTOGRAM,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,130,100,10
    
    LTEXT           "Background Color:",IDC_LBL_BG_COLOR,15,160,80,8
    PUSHBUTTON      "Choose...",IDC_BTN_COLOR_BG,100,158,50,14
END

IDD_PANEL_INTERACTION DIALOGEX 0, 0, 250, 250
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "Mouse Wheel Action",IDC_GRP_MOUSE_WHEEL,5,5,240,35
    CONTROL         "Zoom Image",IDC_RADIO_WHEEL_ZOOM,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,15,18,60,10
    CONTROL         "Navigate Files",IDC_RADIO_WHEEL_NAV,"Button",BS_AUTORADIOBUTTON,90,18,60,10

    GROUPBOX        "Mouse Buttons",IDC_GRP_MOUSE_BUTTONS,5,45,240,50
    LTEXT           "Middle Click:",IDC_LBL_MIDDLE_CLICK,15,60,50,8
    COMBOBOX        IDC_COMBO_MIDDLE_CLICK,70,58,100,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Swap Back/Forward Buttons",IDC_CHECK_XBUTTONS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,75,150,10

    GROUPBOX        "Navigation",IDC_GRP_NAVIGATION,5,100,240,60
    LTEXT           "Loop Mode:",IDC_LBL_LOOP_MODE,15,115,50,8
    COMBOBOX        IDC_COMBO_NAV_LOOP,70,113,100,50,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Show Navigation Arrows on hover",IDC_CHECK_NAV_ARROWS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,130,150,10
    
    LTEXT           "Default Sort:",IDC_LBL_SORT,15,147,50,8
    COMBOBOX        IDC_COMBO_SORT,70,145,100,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END

IDD_PANEL_IMAGE DIALOGEX 0, 0, 250, 250
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "Zoom & Viewing",IDC_GRP_ZOOM_VIEW,5,5,240,60
    LTEXT           "Window Mode:",IDC_LBL_WINDOW_MODE,15,20,50,8
    COMBOBOX        IDC_COMBO_ZOOM_MODE,70,18,120,50,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Fullscreen:",IDC_LBL_FULLSCREEN,15,35,50,8
    COMBOBOX        IDC_COMBO_ZOOM_FULLSCREEN,70,33,120,50,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Auto rotate according to EXIF tag",IDC_CHECK_AUTO_ROTATE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,50,150,10

    GROUPBOX        "Quality & Processing",IDC_GRP_QUALITY,5,70,240,60
    LTEXT           "Resampling:",IDC_LBL_RESAMPLING,15,85,50,8
    COMBOBOX        IDC_COMBO_RESAMPLING,70,83,120,50,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Use Embedded Color Profiles (ICC)",IDC_CHECK_COLOR_MGMT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,100,150,10
    CONTROL         "Auto Enhance Contrast",IDC_CHECK_AUTO_ENHANCE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,115,150,10
END

IDD_PANEL_MISC DIALOGEX 0, 0, 250, 250
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "Saving",IDC_GRP_SAVING,5,5,240,40
    LTEXT           "JPEG Quality:",IDC_LBL_JPEG_QUALITY,15,20,50,8
    CONTROL         "",IDC_SLIDER_JPEG_QUALITY,"msctls_trackbar32",TBS_AUTOTICKS | WS_TABSTOP,70,18,100,15
    EDITTEXT        IDC_EDIT_JPEG_QUALITY,175,18,30,12,ES_AUTOHSCROLL | ES_NUMBER
    
    GROUPBOX        "Parameters",IDC_GRP_PARAMS,5,50,240,35
    CONTROL         "Keep Parameters between images",IDC_CHECK_KEEP_PARAMS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,65,150,10

    GROUPBOX        "System & Deletion",IDC_GRP_SYSTEM,5,90,240,70
    CONTROL         "Confirm File Deletion",IDC_CHECK_CONFIRM_DELETE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,105,150,10
    CONTROL         "Delete to Recycle Bin",IDC_CHECK_RECYCLE_BIN,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,120,150,10
    CONTROL         "Mouse Trap (Fullscreen)",IDC_CHECK_MOUSE_TRAP,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,135,150,10
    
    // CONTROL         "Show Splash Screen",IDC_CHECK_SHOW_SPLASH,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,150,150,10
END
